/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003399;
    color: white;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 50px;
    margin-right: 10px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 9px 0;
    color: black;
    margin: 0;
    margin-top: 10px;
}

.homepage {
    margin-left: 0;
}

.homepage a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 25px;
    background-color: #002266;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.role {
    margin-right: 5px;
    font-weight: bold;
}

.user-name {
    color: yellow;
    font-weight: bold;
}

/* Main content */
.main-content {
    display: flex;
    flex: 1;
    padding-top: 10px;
}

.sidebar {
    width: 138px;
    background-color: #002266;
    color: black;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    flex: 1;
    text-align: center;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-title {
    font-weight: bold;
    background-color: yellow;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 10px;
    cursor: pointer;
    color: white;
}

.menu ul li:hover {
    background-color: #001a4d;
}

.logout {
    text-align: center;
    padding: 10px;
    background-color: yellow;
    cursor: pointer;
    font-weight: bold;
}

.logout:hover {
    background-color: #bbb;
}

.content {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Links */
a {
    text-decoration: none;
    color: white;
}

.logout a {
    color: black;
}


/* Panelist Registration Form */
/* Panelist Registration Form */
